<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='test.css') }}">

    <link rel="stylesheet" type="text/css" href="test.css">
</head>
<title>Dictinary</title>

<h1 style="text-align:center">Enter your word</h1>

<h3 style="text-align:center"> Enter Word: </h3>
<form name="search" action="." style="text-align:center" method="POST">
<br>
<textarea  name="text" ></textarea><br>
<br>


<input type="submit" value="submit" class="button" >
</form>

</html>